.site-content-inner{
  line-height: 1.5;
}
.legal-contact ul{
  list-style-type: none;
  margin: 0;
}
.legal-contact li{
  margin-bottom: 0;
}

#site-header{
  margin-top: 2em;
  margin-bottom: 1em;
  hyphens: manual;
}
#site-header::after{
  content: " / ";
  text-decoration: none;
}
