
.site-container > *{
  width: 100%;
	margin-bottom: 4em;
}
#site-header{
  margin-top: 1.5em;
  display: flex;
  flex-flow: row nowrap;
}
#site-header .image-container{
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#site-header .non-image-container{
  flex: 1 1 auto;
  width: 60%;
  padding: 1em;
}

.image-container-inner{
  clip-path: circle(50%);
  background-color: black;
}
.profile-image{
  clip-path: circle(49%);
  height: 15em;
}
.name-container{
  margin: 1em 0;
}
.name-header{
  font-size: 3em;
  font-family: "Libre Baskerville";
}

.first-name::after{
  content: " ";
}
.contact-links-container{
  margin-bottom: 1em;
}
.contact-link-list li {
  display: inline-block;
}


.contact-link-list li:not(:last-child)::after{
  content: "•";
  margin: 0 1ch;
}
.description-container{
  line-height: 1.2;
}

.post-item{
	margin: 1em 1em;
	line-height: 1.2;
}
.post-item h2{
	font-size: 1.5em;
	font-weight: bold;
  margin-bottom: 0.25em;
}
.creation-date{
	color: rgba(0,0,0,0.7);
}
.post-item header{
	margin-bottom: 1em;
}

.site-content-inner{
  display: flex;
  flex-flow: column-reverse;
}
