/* CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, img, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }

button{ font: inherit; background-color: transparent; border: none;}
a {color: inherit; text-decoration: none;}
table { border-collapse: collapse; border-spacing: 0; }
select { -webkit-appearance: initial; text-rendering: auto; color: inherit; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: unset; text-shadow: none; display: inline-block; text-align: unset; white-space: normal; background-color: transparent; cursor: default; margin: 0; font: inherit; border-radius: 0; border: none; font-size: inherit; }
*:focus{	outline: none; border: none;}  button::-moz-focus-inner { border: 0; }
input[type=text]{ border: none; font: inherit; color: inherit; resize: none; line-height: 1rem; }
html{scroll-behavior: smooth;}
*{box-sizing: border-box;}
abbr{text-decoration: none;}
p, a, li, span, section, figcaption, code{
	overflow-wrap: break-word;
}

code{
		font-family: "Inconsolata", Inconsolata, monospace;
}
:not(pre) > code{

	background-color:rgba(0,0,0,0.03);
	padding: 0.2em 0.4em;
	font-size: 95%;
	border-radius: 0.2em;
}
pre{
	background-color: rgba(0,0,0,0.03);
	padding: 1em;
	width: max-content;
	margin: 1em 0;
}

hr{
	height: 0.05em;
	background-color: rgba(0,0,0,0.6);
}

blockquote, q { quotes: '"' '"' "'" "'"; }
q:before{ content: open-quote;}
q:after{ content: close-quote;}
blockquote{
	margin-bottom: 1em;
	margin-left: 2em;
}
blockquote p{
	display: inline;
}
:link, :visited{
  color: rgba(0,0,0,0.6);
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	color: black;
}
h1{
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 1em;
}
h2{
	font-size: 1.5em;
}
h2,h3{	font-weight: bold;}
h2,h3,h4{
	margin-top: 2em;
	margin-bottom: 1em;
}
h4,h5{
	font-style: italic;
}
h5{
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: rgba(0,0,0,0.6);
}
em{
	font-style: italic;
}
strong{
	font-weight: bold;
}
p{
	text-align: justify;
	line-height: 1.5;
}
ul{
	list-style-type: disc;
}
ol{
	list-style: decimal;
}
ul, ol{
	line-height: 1.5;
	margin: 1em 0 1em 2em;
	list-style-position: outside;
}
li{
	margin-bottom: .5em;
}

li > ul, li > ol{
	margin: 0.5em 0 0.5em 2em;
}
figure{
	width: var(--size);
	margin: 1em;
}
figure img{
	width: 100%;
}
figure.right{
	float: right;
	margin: 1em 0 1em 2em;
}
figure.left{
	float: left;
	margin: 1em 2em 1em 0;
}
figure.center{
	clear:both;
	margin: 2em auto;
}
.image-container{
	border: 0.1em solid black;
	margin-bottom: 0.75em;
}
.footnote{
	vertical-align: super;
  font-size: 0.7em;
	line-height: 0;
	text-decoration: none;

}
li:target{
	width: max-content;
	padding: 0 1ch;
	background-color: rgba(0,0,0,0.1);
}
li:target .footnote{
	padding-left: 2.5ch;
}
li:target:before{
	margin-left: -3.5ch;
	color: rgba(0,0,0,0.6);
	content: ">";
}
.footnote::after{
	content:" ";
}
body{
  display: flex;
  justify-content: center;
  font-family: "Source Serif Pro";
	width: 100%;
}
.site-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
	max-width: 50em;
	overflow: hidden;
}
#site-header{
  margin-top: 1.5em;
	}
#site-footer{
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
}
#site-footer > :nth-child(2){
	text-align: right;
}
table{
		margin: 1.5em auto;
		border: 0.05em solid rgba(0,0,0,0.3);
		padding: 1em;
		background-color: rgba(0,0,0,0.02);
		overflow: scroll;
		max-width: 100%;
}

td,th{padding: 0.5em;}
table th{
	padding-top: 1em;
}
td:first-child, th:first-child{padding-left: 1em;}
td:last-child, th:last-child{padding-right: 1em;}
tr:last-child td{padding-bottom: 1em;}
td:first-of-type, thead{
	font-weight: bold;
}

.first-name::after{
  content: " ";
}

@media (max-width: 700px){
	figure{
		width: calc(1.5 * var(--size));
	}
}
@media (max-width: 500px){
	figure, figure.right, figure.left, figure.center{
		margin: 1.5em;
		width: calc(100% - 2 * 1.5em);
	}
	td, th{
		padding: 0.25em;
	}
}
@media (max-width: 400px){
	td, th{
		padding: 0.2ch;
	}

}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inconsolata-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v19-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-500 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/inconsolata-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v19-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v19-latin-500.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inconsolata-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v19-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v19-latin-700.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* inconsolata-600 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/inconsolata-v19-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v19-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v19-latin-600.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/libre-baskerville-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
       url('fonts/libre-baskerville-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/libre-baskerville-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v7-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/libre-baskerville-v7-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
       url('fonts/libre-baskerville-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/libre-baskerville-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v7-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/libre-baskerville-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
       url('fonts/libre-baskerville-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/libre-baskerville-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v7-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/source-serif-pro-v7-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
       url('fonts/source-serif-pro-v7-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-serif-pro-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-serif-pro-v7-latin-ext_latin-regular.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-600 - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/source-serif-pro-v7-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'),
       url('fonts/source-serif-pro-v7-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-serif-pro-v7-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-serif-pro-v7-latin-ext_latin-600.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/source-serif-pro-v7-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
       url('fonts/source-serif-pro-v7-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/source-serif-pro-v7-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/source-serif-pro-v7-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/source-serif-pro-v7-latin-ext_latin-700.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
