/* CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, img, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }

button{ font: inherit; background-color: transparent; border: none;}
a {color: inherit; text-decoration: none;}
table { border-collapse: collapse; border-spacing: 0; }
select { -webkit-appearance: initial; text-rendering: auto; color: inherit; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: unset; text-shadow: none; display: inline-block; text-align: unset; white-space: normal; background-color: transparent; cursor: default; margin: 0; font: inherit; border-radius: 0; border: none; font-size: inherit; }
*:focus{	outline: none; border: none;}  button::-moz-focus-inner { border: 0; }
input[type=text]{ border: none; font: inherit; color: inherit; resize: none; line-height: 1rem; }
html{scroll-behavior: smooth;}
*{box-sizing: border-box;}
abbr{text-decoration: none;}

blockquote, q { quotes: '"' '"' "'" "'"; }
blockquote:before, q:before{ content: open-quote;}
q:after, blockquote:after{ content: close-quote;}
:link, :visited{
  color: rgba(0,0,0,0.6);
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	color: black;
}
h1{
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 1em;
}
h2{
	font-size: 1.5em;
}
h2,h3{	font-weight: bold;}
h2,h3,h4{
	margin-top: 2em;
	margin-bottom: 1em;
}
h4,h5{
	font-style: italic;
}
h5{
	margin-top: 1em;
	margin-bottom: 0.5em;
}
em{
	font-style: italic;
}
strong{
	font-style: bold;
}
p{
	text-align: justify;
	line-height: 1.5;
}
ul{
	list-style: inside;
}
ul, ol{
	margin: 1em 0 1em 2em;
}
li{
	margin-bottom: .5em;
}
li > ul, li > ol{
	margin: 0.5em 0 0.5em 2em;
}
figure{
	width: var(--size);
	margin: 1em;
}
figure img{
	width: 100%;
}
figure.right{
	float: right;
	margin: 1em 0 1em 2em;
}
figure.left{
	float: left;
	margin: 1em 2em 1em 0;
}
figure.center{
	clear:both;
	margin: 2em auto;
}
.image-container{
	border: 0.1em solid black;
	margin-bottom: 0.75em;
}
.footnote{
	vertical-align: super;
  font-size: 0.7em;
	line-height: 0;
	text-decoration: none;

}
li:target .footnote{
	padding-left: 3.5ch;
}
li:target:before{
	margin-left: -3.5ch;
	color: rgba(0,0,0,0.6);
	content: ">";
}
.footnote::after{
	content:" ";
}
body{
  display: flex;
  justify-content: center;
  font-family: "Source Serif Pro";
	width: 100%;
}
.site-container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
	max-width: 50em;
}
#site-header{
  margin-top: 1.5em;
	}
#site-footer{
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
}
