#site-header{
  margin-top: 2em;
  margin-bottom: 1em;
}
#site-header::after{
  content: " / ";
  text-decoration: none;
}
#footnote-container{
  margin-top: 3em;
  border-top: 0.05em solid rgba(0,0,0,0.6);
  padding-top: 1em;
}
#footnote-container ol{
  margin-left: 0;
  list-style-type: none;
}
#post-header .abstract{
  line-height: 1.5;
  font-style: italic;
  color: rgba(0,0,0,0.6);
}
#post-header{
  margin-bottom: 2em;
}
#post-header h1{
  margin-bottom: 0.5em;
}
.creation-date{
  color: black;
  font-style: normal;}
.creation-date::before{
  content: "•";
  margin: 0 1ch;
  color: rgba(0,0,0,0.6);
}
#table-of-contents > ol{
  margin: 1.5em 1em 1.5em 2em;
}
#table-of-contents{
  max-width: 100%;
  width: max-content;
  margin: 1em 0;
  border: 0.05em solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.02);
}
#table-of-contents:empty{
  display: none;
}
#table-of-contents a{
  text-decoration: none;
}
#table-of-contents ol{
  list-style-type: none;
  line-height: 1;
  counter-reset: section-counter 0;
    margin-left: 2em;
}
#table-of-contents li{
  counter-increment: section-counter;
}
#table-of-contents li::before{
  content: counters(section-counter, ".");
  margin-right: 1ch;
}
#main-article li > p:last-child{
	margin-bottom: 0;
}
#main-article p{
  margin-bottom: 1em;
}
#bibliography~ol{
  list-style-type: none;
  margin-left: 0
}

@media print {
  html{
    font-size: 11pt;
  }
  #site-footer, #site-header{
    display: none;
  }
}
@page{
  margin: 2cm;
}
@page:first{
  margin-top: 2.5cm;
}
